body{
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic";
}


/* Header */
.header-wrapper{
    position: fixed;
    z-index: 10;
    width: 100%;
}
.header-inner-wrapper{
    max-width: 1322px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.header{
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    position: relative;
}
.header .navi-main{
    float: right;
    text-align: right;
}

.header .navi-main .navi-main-item{
    border-width: 0 0 1px 1px;
    display: inline-block;
    height: 80px;
    position: relative;
}
.navi-main-item{
    transition: .2s all;
}
.header .navi-main .navi-main-link{
    color: #020202;
    display: block;
    height: 100%;
    line-height: 80px;
    padding: 0 12px;
    text-align: center;
}
.header .navi-main .navi-main-text{
    padding: 14px 0;
    position: relative;
    color: #020202;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
}
.header .logo{
    display: block;
    float: left;
    height: 80px;
    padding: 0 23.7916666667px;
    vertical-align: middle;
}
.header-whitespace{
    height: 80px;
}



/* Footer */
.footer-wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
}

.footer-wrapper .footer{
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.footer-wrapper .footer .footer-copyright{
    padding-right: 35.6875px;
    margin-left: 0;
    float: left;
    display: block;
    margin-right: 0;
    width: 100%;
    text-align: right;
    position: relative;
    padding: 23.7916666667px;
}
.footer-wrapper .footer * {
    color: #020202;
    font-weight: 600;
}
.footer-wrapper .footer .footer-copyright .copyright-text {
    display: block;
    float: left;
    margin-bottom: 20px;
}
.footer-wrapper .footer .footer-copyright .imprint-wrapper {
    clear: right;
    float: right;
    display: block;
}
.footer-wrapper .footer .footer-copyright .imprint-wrapper a {
    display: inline-block;
    margin-right: 20px;
}
a{
    color: #000;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* Wrapper */
.wrapper{
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
}


.plugin-card-double{
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
}
.col-1{
    width: 48%;
    margin-right: 2%;
    display: block;
    float: left;
}
.col-2{
    width: 48%;
    margin-right: 0;
    display: block;
    float: left;
}